*{
    margin: 0px;
    padding: 0px;
}

.clearfix{
    float: none;
    clear: both;
}

#global{
    width: 65%;
    margin: 0px auto;
    margin-top: 5%;
    padding: 3%;
    background: white;
    box-shadow: 0px 0px 50px gray;
}

#logo{
    font-family: Verdana, Arial;
    font-size: min(3vw, 25px);
    letter-spacing: 4px;
    line-height: 330%;
    color :white;
    text-align: center;
    width: min(65vw, 500px);
    height: auto;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase
}

#menu{
    font-family: Helvetica, Arial;
    background: #333;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 3%;
}

#menu ul{
    line-height: min(5vw, 46px);
    list-style: none;
}

#menu ul li{
    height: min(5vw, 46px);
    display: inline-block;
    transition: all 300ms;
}

#menu a{
    text-align: center;
    font-size: min(2vw, 20px);
    display: block;
    color: white;
    text-decoration: none;
    padding-left: min(3vw, 50px);
    padding-right: min(3vw, 50px);
}

.slider{
    float:left;
    width: 65%;
}

.bx-wrapper{
    margin-bottom: 0px;
}

.button-more{
    font-size: min(2vw, 17px);
    width: min(13vw, 100px);
    padding: 1%;
    text-align: center;
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: 20px;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

#sidebar{
    font-family: Helvetica, Arial;
    width: 30%;
    float: right;
}

#sidebar h4{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    line-height: min(1vw, 15px);
    color: #333;
    background: url("../img/glitch-bar.png") repeat-x;
}

#sidebar h4 span{
    font-size: min(2vw, 15px);
    background: white;
    padding: 5% 2% 5% 2%;
}

#sidebar img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#sidebar p{
    margin-top: 5%;
    margin-bottom: 10%;
    font-size: min(2vw, 15px);
    text-align: justify;
}

footer{
    font-size: min(3vw, 15px);
    text-align: center;
    font-family: Helvetica, Arial;
    color: white;
    height: min(4vw, 47px);
    background: rgba(51, 51, 51, 0.70);
    margin: 0px auto;
    width: 65%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 3%;
    line-height: min(4vw, 47px);
}

#theme-selector{
    position: fixed;
    top: 40%;
    background: rgba(51, 51, 51, 0.70);
    width: min(10vw, 75px);
    height: min(26vw, 150px);
}

#to-theme-1,#to-theme-2,#to-theme-3,#to-theme-4{
    width: min(4vw, 25px);
    height: min(4vw, 25px);
    border: min(1vw, 1px) solid white;
    display: block;
    margin: 0px auto;
    margin-top: min(1vw, 7px);
    margin-bottom: min(1vw, 7px);
    cursor: pointer;
}

#to-theme-1{
    background: black;
}

#to-theme-2{
    background: brown;
}

#to-theme-3{
    background: blueviolet;
}

#to-theme-4{
    background: darkolivegreen;
}

.to-start{
    color: white;
    text-decoration: none;
    display: block;
    float: right;
}